@charset "UTF-8";

body {
    padding-top: 20px;
    background-color: #fafafa;
}

a{
    color: black;
}

#signin-wrapper {
    display: inline-block;
}

#fileupload-label {
    width: 100%;
}

#upload-row,
#search-row {
    padding-top: 20px;
}

.photo-article {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;

}

.photo-article header {
    text-align: left;
}

.form-control {
    height: 50px;
}

.material-icons {
    font-size: 31px;
}

.navbar-brand {
    height: 0px;
    padding: 5px;
}

.navbar-brand img {
    height: 70px;
}

.navbar-right li{
    height: 86px;!important;
}

.like, .notlike {
    width: 40px;
    height: 40px;
}